# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/ImGuiDemo
/ImGuiDemoGlad/obj/Debug
/ImGuiDemoGlew/obj
/ImGuiDemoGlad/bin/Win32/Debug
/ImGuiDemoGlad/obj/x64/Debug
/ImGuiDemoGlew/bin
/ImGuiDemoGlewLearn/obj/x64/Debug
/ImGuiDemoGlewLearn/bin/x64/Debug
